* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            height: 100%;

        }

        .main {
            height: 100%;
            width: 100%;
            /*            background-color: aqua;*/
        }

        nav {
            width: 100%;
            line-height: 100px;
            background-color: lightcoral;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 4vw;

        }


        nav h2 {
            font-size: 2.8vw;
            color: white;
            font-weight: 900;
        }

        .menu {
            display: flex;
            gap: 2vw;
            color: white;
        }



        h3:hover {
            background-color: blueviolet;
        }


        i {
            font-size: 1.5vw;
            font-weight: 900;
            display: none;
        }



        .container {
            width: 100%;
            height: calc(100% - 100px);
            /*            background-color: red;*/
            display: flex;
        }


        .left {
            width: 45%;
            height: 100%;
            /*            background-color: hotpink;*/

            padding: 0 4vw;

        }

        .left h2 {
            font-size: 4vw;
            line-height: 4.2vw;

            margin-top: 2vw;

            margin-bottom: 2vw;
        }

        .left p {
            font-size: 1.5vw;
            width: 90%;
            margin-bottom: 2vw;
        }



        .right {
            width: 55%;
            height: 100%;
            /*            background-color: yellow;*/
        }


        .left button {
            padding: 1vw;
            border-radius: 20px;

            border: none;
            font-size: 1.1vw;
            background-color: aquamarine;

        }

        .left span {
            color: hotpink;
        }

        .right img {
            width: 100%;
            height: 100%;
        }


        @media(max-width:600px) {
            nav {
                background-color: lightsalmon;

                height: 50px;

            }

            .menu h3 {
                display: none;
            }

            .menu i {
                display: block;
                font-size: 6vw;
            }
            
            
            .container{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: calc(100% - 50px);
            }
            
           
            .right{
                width: 100%;
                height: 100%;
            }
            
            .left{
                width: 100%;
                height: 100%;
            }
            
            .left h2{ 
                font-size: 10vw;
                line-height: 10vw;
                margin-top: 5vw;
                
            }
            
            .left p{
                font-size: 4.5vw;
                margin-top: 3vw;
               
            }
            
            
            
            .left button{
                font-size: 4vw;
                margin-top: 2vw;
                margin-bottom: 6vw;
            }
            
            
            nav h2{
                font-size: 7vw;
            }

        }
